[submodule "Daily-Frame-backend"]
  path = backend
  url = https://github.com/ApyrGeo/Daily-Frame-backend/tree/main

[submodule "Daily-Frame-frontend"]
  path = frontend
  url = https://github.com/ApyrGeo/Daily-Frame-frontend.git
